<section class="section countdown-part">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mx-auto">
        <div class="countdown-content">
          <h3>
            special discount offer for
            <span class="text-white fw-bold">grocery</span> items
          </h3>
          <p>
            Enjoy a special discount of all Grocery items for a limited time
          </p>
          <div class="countdown-time">
            <span>100 <small>days</small></span
            ><span>100 <small>hours</small></span
            ><span>59 <small>minutes</small></span
            ><span>59 <small>seconds</small></span>
          </div>
          <a href="{% url 'products:index' %}" class="btn btn-inline"
            ><i class="icofont-shopping-cart"></i><span>shop now </span></a
          >
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <div class="countdown-img">
          <img src="images/countdown.png" alt="countdown" />
          <div class="countdown-off"><span>20%</span><span>off</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
